{% extends "base/header.html" %}
{% load static %}

{% block mangatitle %}
 <div class="cover">
        <h1>Bienvenue sur Manga Book</h1>
</div>
{% endblock %}

{% block collection %}
    <div class="collections">
        <h2>Collection</h2>

        <div class="tags">
            <img src="{% static 'css/images/icons8-chercher.svg' %}"  alt="icone de recherche" />
            <input type="search" placeholder="mots-clés..." />
        </div>
    </div>

    <div class="item-tag">
        <h3>Vos Collections vont s'afficher ici</h3>
    </div>

    {% block body %}
    {% endblock %}

{% endblock %}